In [ ]:
# Task 2: Data Cleaning and Labeling
# Internship â€“ Arnita Infotech
# Prepared by: Bhoomika Date

In [7]:
# Importing necessary libraries
import pandas as pd

In [2]:
# Loading the dataset
data = pd.read_csv("student_performance.csv")

# Show first 5 rows
data.head()

   study_hours  attendance  previous_score final_result
0            5          80              65         Pass
1            7          90              78         Pass
2            2          60              40         Fail
3            6          85              70         Pass
4            3          50              45         Fail

In [3]:
# Check if any missing data
data.isnull().sum()

study_hours       0
attendance        0
previous_score    0
final_result      0
dtype: int64

In [5]:
data['final_result'] = data['final_result'].map({'Pass': 1, 'Fail': 0})

In [6]:
# Check info and first rows
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   study_hours     8 non-null      int64
 1   attendance      8 non-null      int64
 2   previous_score  8 non-null      int64
 3   final_result    8 non-null      int64
dtypes: int64(4)
memory usage: 388.0 bytes

   study_hours  attendance  previous_score  final_result
0            5          80              65             1
1            7          90              78             1
2            2          60              40             0
3            6          85              70             1
4            3          50              45             0